#card {

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

}

.card-footer {

    text-align: center;

}

.card-body {

    font-weight: 600;

}

.card-title {

    font-size: 23px;

    font-weight: 600;

    color: white;

}

.card-header {

    text-align: right;

}

a {

    color: brown;

    text-decoration: none;

}

.border-danger {

    width: 30%;

}

.material-icons {

    font-size: 21px;

}