<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Consulta Usuario</title>
    </head>
    <body>
     <table>
     	<thead>
	     	<tr>
	     		<th>Id</th>
	     		<th>Email</th>
     		 	<th>Editar</th>
                <th>Excluir</th>
	     	</tr>
     	</thead>
     	<tbody>
     		<tr th:each="usuario: ${lista}">
     			<td th:text="*{usuario.id}"/>
     			<td th:text="*{usuario.email}"/>
     			<td th:text="*{usuario.perfil}"/>
     			<td> <a th:href="@{'/usuario/consulta/'+${usuario.id}}">Editar</a></td>
                <td> <a th:href="@{'/usuario/deletar/'+${usuario.id}}">Excluir</a></td>
     		</tr>
     	</tbody>
     </table>
    </body>
</html>