<div class="mx-auto text-center" style="width: 900px; margin-top: 20px;">
    <h1>Ei, você!</h1>
    <br>
    Está procurando um profissional talentoso, criativo, pronto para botar a mão na massa e fazer o seu projeto
    acontecer?
    <br>
    Aqui você encontra profissionais de diversas áreas de atuação que vão te ajudar e colocar seu projeto
    em prática.
    <br>
    Não oferecemos somente um banco de dados, mas empoderamos talentos para que você possa turbinar o seu negócio.
    <br>
    Nesta comunidade os usuários compartilham experiências, trocam ideias e se atualizam com o que há de mais novo
    no mercado.
    <br>
    <br>
    <h5>Confira quem são os integrantes da nossa comunidade e encontre aquela pessoa talentosa que você procura!
    </h5>
</div>
