<div class="container">
    <h1 class="text-center">Login de Usuário</h1>
    <form #f="ngForm" (ngSubmit)="login(f.value)">
        <input ngModel class="form-control" type="text" name="email" placeholder="Informe usuário">
        <input ngModel class="form-control mb-3" type="password" name="senha" placeholder="Informe senha">
        <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
    <a routerLink="/cadastroUsuario">Não é cadastrado?</a>
    <p>{{ usuarioConectado.perfil }}</p>
</div>
<router-outlet></router-outlet>
