<h2 class="fs-3 fst-italic text-center mb-3">Preencha o formulário abaixo para se cadastrar no banco de
    talentos
</h2>
<form class="was-validated" novalidate #f="ngForm" (ngSubmit)="createTalent(f.value)">
    <div class="container mb-3">
        <!--NOME-->
        <label class="form-label fs-4 fst-italic" for="nome">Nome:</label>
        <input #nome="ngModel" ngModel type="text" placeholder="Informe nome" name="nome" id="nome" class="form-control" minlength="3" required>
        <div *ngIf="nome.invalid" class="ng-invalid invalid-feedback">
            Informe o seu nome.
        </div>

        <!--SOBRENOME-->
        <label class="form-label fs-4 fst-italic" for="sobrenome">Sobrenome:</label>
        <input #sobrenome="ngModel" ngModel type="text" placeholder="Informe sobrenome" name="sobrenome" id="sobrenome" class="form-control" required minlength="3">
        <div *ngIf="sobrenome.invalid" class="ng-invalid invalid-feedback">
            Informe o seu sobrenome.
        </div>

        <!--FONE-->
        <label class="form-label fs-4 fst-italic" for="fone">Fone:</label>
        <input #fone="ngModel" ngModel type="text" placeholder="Informe fone" name="fone" id="fone" class="form-control" required>
        <div *ngIf="fone.invalid" class="ng-invalid invalid-feedback">
            Informe o seu telefone.
        </div>

        <!--EMAIL-->
        <label class="form-label fs-4 fst-italic" for="email">Email:</label>
        <input #email="ngModel" ngModel type="email" placeholder="Informe email" name="email" id="email" class="form-control" required>
        <div *ngIf="email.invalid" class="ng-invalid invalid-feedback">
            Informe o seu email.
        </div>

        <!--SENHA-->
        <label class="form-label fs-4 fst-italic" for="password">Senha:</label>
        <input #password="ngModel" ngModel type="password" placeholder="******" name="password" id="password" class="form-control" minlength="6" required>
        <div *ngIf="password.invalid" class="ng-invalid invalid-feedback">
            Informe a sua senha.
        </div>

        <!--PROFISSÃO-->
        <label class="form-label fs-4 fst-italic" for="profissao">Profissão:</label>
        <input #profissao="ngModel" ngModel type="text" placeholder="Informe profissão" name="profissao" id="profissao" class="form-control"
            required>
        <div *ngIf="profissao.invalid" class="ng-invalid invalid-feedback">
            Informe a sua profissão.
        </div>

        <!--CIDADE-->
        <label class="form-label fs-4 fst-italic" for="cidade">Cidade:</label>
        <input #cidade="ngModel" ngModel type="text" placeholder="Informe cidade" name="cidade" id="cidade" class="form-control" required>
        <div *ngIf="cidade.invalid" class="ng-invalid invalid-feedback">
            Informe a sua cidade.
        </div>

        <!--ESTADO-->
        <label class="form-label fs-4 fst-italic" for="estado">Estado:</label>
        <select #estado="ngModel" ngModel class="form-select" id="estado" name="estado" required>
            <option value="" selected>Selecione o seu estado:</option>
            <option value="AC">Acre - AC</option>
            <option value="AL">Alagoas - AL</option>
            <option value="AP">Amapá - AP</option>
            <option value="AM">Amazonas - AM</option>
            <option value="BA">Bahia - BA</option>
            <option value="CE">Ceará - CE</option>
            <option value="DF">Distrito Federal - DF</option>
            <option value="ES">Espírito Santo - ES</option>
            <option value="GO">Goiás - GO</option>
            <option value="MA">Maranhão - MA</option>
            <option value="MT">Mato Grosso - MT</option>
            <option value="MS">Mato Grosso do Sul - MS</option>
            <option value="MG">Minas Gerais - MG</option>
            <option value="PA">Pará - PA</option>
            <option value="PB">Paraíba - PB</option>
            <option value="PR">Paraná - PR</option>
            <option value="PE">Pernambuco - PE</option>
            <option value="PI">Piauí - PI</option>
            <option value="RJ">Rio de Janeiro - RJ</option>
            <option value="RN">Rio Grande do Norte - RN</option>
            <option value="RS">Rio Grande do Sul - RS</option>
            <option value="RO">Rondônia - RO</option>
            <option value="RR">Roraima - RR</option>
            <option value="SC">Santa Catarina - SC</option>
            <option value="SP">São Paulo - SP</option>
            <option value="SE">Sergipe - SE</option>
            <option value="TO">Tocantins - TO</option>
        </select>
        <div *ngIf="estado.invalid" class="ng-invalid invalid-feedback">
            Selecione o seu estado.
        </div>
    </div>

    <!--IMAGEM-->
    <div class="mb-3 container">
        <fieldset>
            <legend class="fs-4 fst-italic">Foto:</legend>
            <input #imagem="ngModel" ngModel name="imagem" type="file" id="imagem" placeholder="Envie uma foto sua" class="form-control" required />
            <div *ngIf="imagem.invalid" class="ng-invalid invalid-feedback">
                É necessário fazer o upload de uma foto sua.
            </div>
        </fieldset>
    </div>

    <h3>{{ msg }}</h3>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button [disabled]="f.invalid" type="submit" class="btn btn-success">Salvar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button>
    </div>
</form>
