<div class="container">
  <h2>Editar perfil</h2>
  <label class="form-label">Id</label>
  <input class="form-control" type="number" [(ngModel)]="talento.id" disabled>

  <label class="form-label">Nome</label>
  <input class="form-control" type="text" [(ngModel)]="talento.nome">
  <label class="form-label">Sobrenome</label>
  <input class="form-control" type="text" [(ngModel)]="talento.sobrenome">

  <label class="form-label">Fone</label>
  <input class="form-control" type="text" [(ngModel)]="talento.fone">

  <label class="form-label">Email</label>
  <input class="form-control" type="text" [(ngModel)]="talento.email">

  <label class="form-label">Senha</label>
  <div class="eyeicon">
    <input class="form-control" type="password" [(ngModel)]="talento.password">
    <span (click)="viewPassword()"><i [ngClass]="visible?'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i></span>
  </div>

  <label class="form-label">Profissão</label>
  <input class="form-control" type="text" [(ngModel)]="talento.profissao">

  <label class="form-label">Cidade</label>
  <input class="form-control" type="text" [(ngModel)]="talento.cidade">

  <label class="form-label">Estado</label>
  <select [(ngModel)]="talento.estado" class="form-select" id="estado" name="estado">
      <option value="" selected>Selecione o seu estado:</option>
      <option value="AC">Acre - AC</option>
      <option value="AL">Alagoas - AL</option>
      <option value="AP">Amapá - AP</option>
      <option value="AM">Amazonas - AM</option>
      <option value="BA">Bahia - BA</option>
      <option value="CE">Ceará - CE</option>
      <option value="DF">Distrito Federal - DF</option>
      <option value="ES">Espírito Santo - ES</option>
      <option value="GO">Goiás - GO</option>
      <option value="MA">Maranhão - MA</option>
      <option value="MT">Mato Grosso - MT</option>
      <option value="MS">Mato Grosso do Sul - MS</option>
      <option value="MG">Minas Gerais - MG</option>
      <option value="PA">Pará - PA</option>
      <option value="PB">Paraíba - PB</option>
      <option value="PR">Paraná - PR</option>
      <option value="PE">Pernambuco - PE</option>
      <option value="PI">Piauí - PI</option>
      <option value="RJ">Rio de Janeiro - RJ</option>
      <option value="RN">Rio Grande do Norte - RN</option>
      <option value="RS">Rio Grande do Sul - RS</option>
      <option value="RO">Rondônia - RO</option>
      <option value="RR">Roraima - RR</option>
      <option value="SC">Santa Catarina - SC</option>
      <option value="SP">São Paulo - SP</option>
      <option value="SE">Sergipe - SE</option>
      <option value="TO">Tocantins - TO</option>
  </select>

  <div class="mt-3">
    <button (click)="editar()" class="btn btn-success me-2">Atualizar</button>
    <button routerLink="/home" class="btn btn-warning me-2">Cancelar</button>
    <button class="btn btn-danger" (click)="excluir(talento.id)">Excluir Conta</button>
  </div>

  <h3 class="mt-3">{{ msg }}</h3>
</div>
