<div class="container">
  <h1>Consulta de Clientes</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Gênero</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaClientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.fone }}</td>
        <td>{{ cliente.genero }}</td>
        <td>{{ cliente.foto }}</td>
      </tr>
    </tbody>
  </table>
</div>
