nav {
    background-color: #320d6d;
    padding: 10px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    background-color: #ffbfb7;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

nav a:hover {
    background-color: white;
    color: #ffbfb7;
}
