html, body {
    height: 100%;
}

nav {
    background-color: rosybrown;
    padding: 10px;
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    background-color: blanchedalmond;
    padding: 5px;
    border-radius: 20px;
    color: brown;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
}

nav a:hover {
    background-color: brown;
    color: blanchedalmond;
}

button{
  padding: 2px;
}
