<div class="container">
    <h1 class="text-center">Cadastro de Produtos</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <input ngModel class="form-control" type="text" name="descricao" placeholder="Informe descrição do produto">
        <input ngModel class="form-control" type="text" name="preco"  placeholder="Informe preço">
        <input ngModel class="form-control mb-3" type="text" name="estoque" placeholder="Informe estoque">
        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
        <button (click)="limparMsg()" type="reset" class="btn btn-outline-danger">Cancelar</button>
    </form>
    <label>{{ msg }}</label>
</div>
