<div class="container">
    <h1 class="text-center">Cadastro de Produtos</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <input ngModel class="form-control" type="text" name="descricao" placeholder="Informe descrição do produto">
        <input ngModel class="form-control" type="text" name="preco"  placeholder="Informe preço">
        <input ngModel class="form-control mb-3" type="text" name="estoque" placeholder="Informe estoque">
        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
        <button (click)="limparMsg()" type="reset" class="btn btn-outline-danger">Cancelar</button>
    </form>
    <label>{{ msg }}</label>
</div>

<div>
    <table class="table">
        <thead class="bg-success">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produtos">
                <td>{{ prod.id }}</td>
                <td>{{ prod.descricao }}</td>
                <td>{{ prod.preco }}</td>
                <td>{{ prod.estoque }}</td>
                <td><a [routerLink]="['/produtos',prod.id]"><i class="material-icons">mode_edit</i></a></td>
            </tr>
        </tbody>
    </table>
</div>