<div class="container">
    <h1 class="text-center">Cadastro de Produtos</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <input required class="form-control" type="text" #fnome="ngModel" ngModel name="descricao" placeholder="Informe descrição do produto" minlength="5">

        <div *ngIf="fnome.invalid" class="ng-invalid">Informe a descrição do produto</div>

        <input #fpreco="ngModel" required ngModel class="form-control" type="text" name="preco"  placeholder="Informe preço">
        <div *ngIf="fpreco.invalid" class="ng-invalid">Informe o preço do produto</div>

        <input #festoque="ngModel" required ngModel class="form-control" type="text" name="estoque" placeholder="Informe estoque">
        <div *ngIf="festoque.invalid" class="ng-invalid">Informe o estoque do produto</div>
        <div class="mt-3">
            <button [disabled]="f.invalid" type="submit" class="btn btn-outline-primary me-2">Cadastrar</button>
            <button type="reset" class="btn btn-outline-danger">Cancelar</button>
        </div>
    </form>
</div>

<div class="container mt-3">
    <table class="table">
        <thead class="bg-success">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produtos">
                <td>{{ prod.id }}</td>
                <td>{{ prod.descricao }}</td>
                <td>{{ prod.preco }}</td>
                <td>{{ prod.estoque }}</td>
                <td><a [routerLink]="['/produtos',prod.id]"><i class="material-icons">mode_edit</i></a></td>
                <td><a (click)="excluir(prod.id)"><i  role="button"class="material-icons text-primary" >delete_forever</i></a></td>
            </tr>
        </tbody>
    </table>
</div>