/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-image: url(../src/imagens/Component5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-size: 100%;
}
