.container {
    width: 600px;
    margin: auto;
}

.container h1 {
    text-align: center;
}

button {
    width: 150px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}

.btSalvar {
    background-color: blue;
    color: white;
}

.btSalvar:hover {
    background-color: white;
    color: blue;
}

.btCancelar {
    background-color: orangered;
    color: white;
}

.btCancelar:hover {
    background-color: white;
    color: orangered;
}
